.todoList{
    width: 480px;
    margin: 0 auto 40px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2) ;
}
.creatInput{
    width: 300px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* input{
    width: 300px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */
li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.deleteIcon{
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background-color: #cdcdcd;
}
.deleteIcon:hover{
    cursor: pointer;
}
.no-show-delete{
    display: none;
}

.status{
    color: #ccc;
    display: flex;
    justify-content: space-between;
}
.todo{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.edit-none{
    display: none;
}
.editing .todo-none{
    display: none;
}
.editing .edit-none{
    display: block;
}
.selected{
    text-decoration: line-through;
}
.clear-all{
    text-decoration: underline
}
.clear-all:hover{
    cursor: pointer;
}